<% if @students.blank? %>
	<p>There are not any students currently in the system.</p>
<% else %>
	<p>These are the current students in our system:</p>
	<ul id="students">
		<% @students.each do |c| %>
			<li><%= link_to c.name, {:action => 'show', :id => c.id} -%></li>
		<% end %>
	</ul>
<% end %>
<p><%= link_to "Add new student", {:action => 'new'} %></p>