<% for column in Student.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @student.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @student %> |
<%= link_to 'Back', :action => 'list' %>
