@import "reset.css";

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
	font-size: 87.5%;
	font-family: Helvetica, Arial, sans-serif;
	margin: 1em;
}

.wrapper {
	width: 600px;
	margin: 0 auto;
}

ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  	border-collapse: separate;
  	border-spacing: 0;
	border: 2px solid #F6F6F6;
	width: 600px;
}

th {
	font-weight: bold;
}

tr.odd {
}

tr.even {
	background-color: #F4F4F4;
}

caption, th, td {
  	text-align: left;
  	font-weight: none;
	padding: 8px 5px 8px 5px;
}
blockquote:before, blockquote:after,
q:before, q:after {
  	content: "";
}
blockquote, q {
  	quotes: "" "";
}

h1 {
  font-family: Georgia, Times, serif;
  font-size: 3em;
/*  width: 60%;*/
  margin: 0.5em auto;
}

h2 {
	font-family: Georgia, Times, serif;
	font-size: 2em;
	margin: 0.5em, auto;
}

p, ul {
/*  width: 60% !important;*/
/*  margin: 0 auto !important;*/
  padding-bottom: 2em;
}

form {
	margin: 2em auto !important;
}

input {
  font-size: 2em;
}

input[type="submit"] {
	float: right;
}

#footer {
  font-size: 0.75em;
  padding-left: 3em;
  height: 3em;
  margin-top: 2em;
}
