<%= error_messages_for 'guest' %>

<!--[form:guest]-->
<p><label for="guest_name">Name</label><br/>
<%= text_field 'guest', 'name'  %></p>

<p><label for="guest_has_form">Has form</label><br/>
<select id="guest_has_form" name="guest[has_form]"><option value="false">False</option><option value="true">True</option></select></p>
<!--[eoform:guest]-->

