<h3>Welcome!</h3><br />
<p>
DeskMate is a Ruby on Rails application for managing the flow of students and guests entering a dorm. 
You can use the search form to the right to find any student in the database by name, room, or id number.
You can also choose to view all students or guests. New students can only be created from the Administration panel. Please send all bug reports to jarod.luebbert@gmail.com.
</p>

